Repository gofiber/utils, pull requests merged in 2025-07, with the labels that each got.

#122 refactor(strings): improve tests for case conversion functions to improve coverage and performance benchmarks
  bytes_test.go
  strings.go
  strings_test.go
Labels: 🧹 Updates

#118 feat: Add support for MsgPack
  go.mod
  go.sum
  http.go
  msgpack.go
  msgpack_test.go
Labels: ✏️ Feature

#123 refactor(tests): Enhance benchmarks by separating allocation checks from main loops and adding input size reporting for throughput metrics
  strings_test.go
Labels: ✏️ Feature, 🧹 Updates

#127 Improve ConvertToBytes performance
  common.go
  common_test.go
Labels: 🧹 Updates, codex

#129 Increase unit test coverage
  common_test.go
  convert_test.go
  file_test.go
Labels: 🧹 Updates, codex

#131 🐛 bug: Fix FunctionName nil handling
  common.go
  common_test.go
Labels: ☢️ Bug, codex

#132 improve ByteSize function
  convert.go
  convert_test.go
Labels: 🧹 Updates

#134 Add parse float
  README.md
  parse.go
  parse_test.go
Labels: ✏️ Feature

#135 Add ParseInt16/Uint16 functions
  parse.go
  parse_test.go
Labels: ✏️ Feature, codex

#137 improve parse functions - error handling
  README.md
  parse.go
  parse_test.go
Labels: 🧹 Updates

#139 Refactor string conversion test cases for clarity and performance
  strings_test.go
Labels: 🧹 Updates

#138 Add Go benchmark formatter
  Makefile
  README.md
  scripts/format_benchmarks.go
Labels: codex
